<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418176468186-15ch3sopulrr6s7or1gv9m90og70n4gh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418176468186-15ch3sopulrr6s7or1gv9m90og70n4gh</string>
	<key>API_KEY</key>
	<string>AIzaSyAiBpeeL-QcA35F4p4PfuqtZuKxCpbkF8g</string>
	<key>GCM_SENDER_ID</key>
	<string>418176468186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.com.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-9dc88</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-9dc88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418176468186:ios:2474ef8198c4ed75a991e3</string>
</dict>
</plist>